<h1>Lista de Ventas</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Productos</th>
    </tr>
    {% for venta in ventas %}
        <tr>
            <td>{{ venta.id }}</td>
            <td>{{ venta.fecha }}</td>
            <td>
                <ul>
                    {% for detalle in venta.detalleventa_set.all %}
                        <li>{{ detalle.producto.nombre }} - Cantidad: {{ detalle.cantidad }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>

<a href="{% url 'ventas:registrar_venta' %}">Registrar nueva venta</a>
